body {
  margin: 0;
  font-family: 'Judson', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.provider-reg-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.MuiTypography-h6 {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
}

h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.MuiTableCell-root {
  font-size: 14px !important;
  font-family: 'Rubik', sans-serif !important;
  /* font-family: 'Chivo', sans-serif !important; */
  /* font-family: 'Judson', serif !important; */
  /* font-family: 'Lora', serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
}

code {
  font-family: 'Judson', serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-table {
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.item {
  width: auto;
  height: auto;
  padding: 10px;
  /* font-family: 'Josefin Slab', serif; */
  font-family: 'Chivo', sans-serif;
  font-size: 17px;
}

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  width: auto;
  opacity: 0.7;
  /* filter: saturate(90%) */
}

#login-photo {
  opacity: 0.7;
}

.schedule-module {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-provider {
  font-size: 15px;
  font-family: 'Josefin Slab', serif;
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Chivo', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
}

.provider-consent {
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}